// 
// --------------------------------------------------

// Fonts  
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic)

// Variables
// --------------------------------------------------
$font-base: 'Open Sans', sans-serif

=font-bold
	font-family: 'Open Sans', sans-serif
	font-weight: 600

// Common blocks
// --------------------------------------------------
body
	min-width: 1070px
	font-size: 14px 
	font-family: $font-base
	line-height: 1.4

.out
	height: 100% !important
	height: 100%
	margin: 0 auto
	overflow: hidden

.container
	width: 960px
	margin-left: auto
	margin-right: auto
	+r(w960)
		width: 480px

.h2
	margin-bottom: 30px
	font-size: 24px
	color: #444
	+font-bold

.paragraph, .more
	font-size: 14px
	text-transform: uppercase
	text-decoration: none
	color: #CCC
.paragraph
	&:hover
		color: #00afdd
		&:before
			+arr(10,16,#00afdd,l)
	&.disabled
		display: none
	&:before
		content: ""
		+arr(10,16,#e2e2e2,l)
		margin-right: 12px
		display: inline-block
		vertical-align: middle
.more
	&:hover
		color: #00afdd
		&:after
			+arr(10,16,#00afdd,r)
	&.disabled
		display: none
	&:after
		content: ""
		+arr(10,16,#e2e2e2,r)
		margin-left: 12px
		display: inline-block
		vertical-align: middle

// Page
// --------------------------------------------------
.header
	height: 79px
	padding-top: 21px
	background: #FFF 
	.header__logo
		height: 58px
		+clr
	.header__logoico
		margin-right: 20px
		float: left
		+s(logo)
	.header__logodescr
		overflow: hidden
		line-height: 1
		color: #666 
	.header__logoh3
		font-size: 34px
		font-weight: 200 
	.header__logometa
		font-size: 12px
		font-weight: 200
		font-size: italic

.page__footer
	height: 100px
	background: #00a2cc
	text-align: center
	position: fixed
	bottom: 0
	left: 0
	right: 0
	z-index: 2666
	.footer__link
		height: 48px
		margin-top: 25px
		display: inline-block
		font-size: 40px
		text-transform: uppercase
		line-height: 1.2
		+font-bold
		color: #dbf8ff
		text-decoration: none
		border-bottom: 2px dashed #dbf8ff
		cursor: pointer
		&:hover
			color: #fff
			border-color: #fff 

.page
	min-height: 600px
	position: relative
	+r(w960)
		height: auto !important 
	// &.page1
	// 	.page__content
	// 		margin-top: -200px
	.page__content
		font-size: 18px
		line-height: 1.8
		color: #888
		+clr
		+font-bold
		height: 500px
		overflow: hidden
		position: absolute
		top: 50%
		margin-top: -250px
		left: 50%
		margin-left: -480px
		+r(w960)
			width: 480px
			height: auto
			margin-left: auto
			margin-right: auto
			margin-top: 0
			position: static
	.page__contentleft
		width: 480px
		float: left
		+r(w960)
			float: none
			display: block
	.page__contentright
		width: 480px
		float: right
		+r(w960)
			float: none
			display: block
	.page__contentbottom
		padding-top: 15px
		margin-top: 20px
		border-top: 4px solid #F1F1F1
		+clr
	.page__contentbottom
		+clr
		.paragraph
			float: left
		.more
			float: right
	.page__ico
		text-align: center
	.page__ico-1
		margin-top: 125px
	.page__ico-2
		margin-top: 110px
	.page__ico-3
		margin-top: 110px
	.page__ico-4
		margin-top: 138px
	.page__ico-5
		margin-top: 128px
	.page__ico-6
		margin-top: 100px
	.page__ico-7
		margin-top: 107px

.page9
	opacity: 0
	z-index: 3333
	position: fixed
	top: 0
	left: 0
	right: 0
	+transition(all .3s ease-in)
	@include transform(translate3d(0, 100%, 0))
	.page__footer
		position: absolute
		bottom: 0
	&.is-active
		opacity: 1 
		+transition(all .3s ease-in)
		@include transform(translate3d(0, 0, 0))
.page1
	z-index: 2200
	background: #00AFDD
	.page__all
		height: 100%
		.page__content
			height: 400px
			margin-top: -200px
			// position: static
	.h1
		margin-bottom: 20px
		font-size: 40px
		font-weight: normal
		color: #FFF 
	.page1__meta
		margin-bottom: 60px
		font-size: 18px
		color: #DBF8FF
	.page1__list
		+clr
		li
			width: 480px
			margin-bottom: 10px
			float: left
		a
			font-size: 24px
			color: #DBF8FF
			border-bottom: 1px dashed #DBF8FF
			text-decoration: none
			+font-bold
			&:hover
				color: #FFF 
				border-bottom-color: #fff

.page9
	width: 100%
	background: rgba(#19abd1, .9)
	.page__content
		color: #fff

.form
	width: 660px
	margin-left: 150px
	+clr
	.form__row
		+clr
		margin-bottom: 20px
		&.form__row_route
			.form__left
				position: relative
				&:after
					content: ""
					position: absolute
					top: 45px
					right: -31px
					+s(i-arr)
	.form__left
		width: 310px
		float: left
	.form__right
		width: 310px
		float: right
	.form__label
	.form__labelmeta
		margin-bottom: 5px
		display: block
		line-height: 1.4
		+text-shadow(0 1px 1px rgba(#000, .2))
		+font-bold
	.form__labeltop
		+clr
	.form__labeltop-descr
		float: left
	.form__search
		display: block
		height: 60px
		line-height: 60px
		background-color: #fdb931
		@include box-shadow(inset 0 -2px 0 rgba(189,129,6,.75))
		color: #FFF
		text-transform: uppercase
		text-decoration: none
		text-align: center
		font-size: 16px
		+font-bold
		@include text-shadow(0 1px 1px rgba(29,26,22,.2))
		&:hover
			background: #F9C55B 
		&:active
			position: relative
			top: 1px
	.check-group
		float: right
	.check-groupdescr
		cursor: pointer

.label
	display: block
	span
		margin-bottom: 5px
		display: block
		line-height: 1.4
		+text-shadow(0px 1px 1px rgba(#000, .2))
		+font-bold

.calendar
	position: relative
	&.calendar_innactive
		.calendar__ico
			+s(i-calendar_unnactive)
	.calendar__ico
		position: absolute
		top: 14px
		right: 12px
		cursor: pointer
		+s(i-calendar)

.input
	height: 40px
	padding: 5px 11px
	font-size: 18px
	color: #444
	+font-bold
	+placeholder
		color: #ccc 
	&.input_310
		width: 288px
	&.input_unnactive
		background: #6fd0e9
		color: #00A2CC
		+placeholder
			color: #00A2CC
.input-wrap
	position: relative
	.input-wrap__cross
		position: absolute
		top: 18px
		right: 15px
		cursor: pointer
		+s(i-cross)

.checkbox
	position: relative
	cursor: pointer
	input
		+opacity(0)
	input + span
		margin-left: 10px
		.checkbox__ico
			content: ""
			+s(i-checkbox)
			position: absolute
			top: 3px
			left: 0px
	input:checked + span
		.checkbox__ico
			&:after
				content: ""
				+s(i-checkbox_ch)
				position: absolute
				top: 0px
				left: 0px
				z-index: 10

.select_small-wrap
	+clr
	.select_small-label
		float: left
		position: relative
	.select_small-ico
		position: absolute
	.select_small-icokid
		+s(i-kid)
		top: 8px
		left: 20px
	.select_small-icoman
		+s(i-man)
		top: 5px
		left: 00px
	.select_small-icowoman
		+s(i-woman)
		top: 12px
		left: 15px
	.select_small
		margin-left: 50px
		display: inline-block
		&.select_smallfirst
			margin-left: 30px
.select
	background: #fff 
	position: relative
	color: #444 
	&.is-open
		.select__drop
			display: block
		i
			+arr(8, 6, #444444, t)
	&.select_small
		width: 60px
	span
		height: 50px
		line-height: 50px
		padding: 0 11px
		display: block
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		cursor: pointer
		&:after
			content: ""
			width: 30px
			height: 50px
			position: absolute
			top: 0
			right: 0
			background: #ececec 
			+box-shadow(inset 0 -2px 0 #d2d2d2)
	em
		font-style: normal
	i
		content: ""
		position: absolute
		right: 10px
		top: 50%
		margin-top: -3px
		+arr(8, 6, #444444, b)
		z-index: 300
	.select__drop
		max-height: 162px
		-ms-overflow-y: scroll 
		overflow-y: scroll  
		display: none
		position: absolute
		top: 100%
		left: 0px
		width: 100%
		z-index: 666
		background: #fff
	ul
		margin: 0
	li
		padding: 11px
		&:hover
			background: #ECECEC
			cursor: pointer
		span
			padding: 0
			
.onepage-pagination
	li
		&:first-child, &:last-child
			display: none

.cycle-item
	width: 100%
	max-height: 300px
	overflow: hidden
	p
		max-height: 285px 

.nav
	position: fixed
	top: 50%
	margin-top: -105px
	left: 30px
	z-index: 2000
	li
		margin-bottom: 10px
		&:hover
			a
				background: #00AFDD
				&:after
					color: #00AFDD
		&.is-active
			a
				background: #00AFDD
				&:after
					color: #00AFDD
	.nav__1
		a
			&:after
				content: "Сравнивайте цены"
	.nav__2
		a
			&:after
				content: "Берегите своё время"
	.nav__3
		a
			&:after
				content: "Доверяйте надёжным"
	.nav__4
		a
			&:after
				content: "Платите картой"
	.nav__5
		a
			&:after
				content: "Поиграйте с датами"
	.nav__6
		a
			&:after
				content: "Путешествуйте с картой"
	.nav__7
		a
			&:after
				content: "Ищите на aviasales.ru"
	a
		width: 20px
		height: 20px
		+border-radius(50%)
		background: #e2e2e2
		display: block
		text-decoration: none
		position: relative
		&:after
			width: 200px
			font-size: 13px
			color: #CCC
			+font-bold
			text-transform: uppercase
			text-decoration: none
			position: absolute
			left: 30px
			top: 3px
			+max-screen(1400)
				display: none


	